a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.nav-caption{
    display: inline-block;
    padding-left: 6px;
}

.nav-contact{
   padding-left: 6px;
   color: rgb(19, 18, 18);
}