<div class="contact">
    <h2>Contact me for more details :)</h2>
    <div>

        <div id="toystoy-alien">
            <div id="antenna"></div>
            <div id="head">
                <div class="ear" id="left-ear"></div>
                <div class="ear" id="right-ear"></div>
                <div id="eyes">
                    <div class="eye"></div>
                    <div class="eye"></div>
                    <div class="eye"></div>
                </div>
                <div class="mouth"></div>
            </div>
            <div id="alien-body">
                <div class="arm" id="left-arm">
                    <div class="hands"></div>
                </div>
                <div class="arm" id="right-arm">
                    <div class="hands"></div>
                </div>
                <div id="legs"></div>
                <div id="left-foot"></div>
                <div id="right-foot"></div>
            </div>
        </div>