<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>testing</title>
    <!-- <link rel="stylesheet" type="text/css" href="home.component.css" media="screen" /> -->
</head>

<body>
    <div id="clock">
        <h2 class="basic">Hello Universe <span style='font-size:40px;'>&#128512;</span> </h2>
        <p class="date">{{ date }}</p>
        <p class="time">{{ time }}</p>
        <p class="text">Digital Clock By Yusup </p>
    </div>

    <!-- <script>
        
        var clock = new Vue({
          el: '#clock',
          data: {
            time: '',
            date: ''
          }
        });
    
        var week = ['SUNDAY', 'MONDAY', 'TUESDAY', 'WEDNESDAY', 'THURSDAY', 'FRIDAY', 'SATURDAY'];
        var timerID = setInterval(updateTime, 1000);
        updateTime();

        function updateTime() {
          var cd = new Date();
          clock.time = zeroPadding(cd.getHours(), 2) + ':' + zeroPadding(cd.getMinutes(), 2) + ':' + zeroPadding(cd.getSeconds(), 2);
          clock.date = zeroPadding(cd.getFullYear(), 4) + '-' + zeroPadding(cd.getMonth() + 1, 2) + '-' + zeroPadding(cd.getDate(), 2) + ', ' + week[cd.getDay()];
        };
    
        function zeroPadding(num, digit) {
          var zero = '';
          for (var i = 0; i < digit; i++) {
            zero += '0';
          }
          return (zero + num).slice(-digit);
        }
        Vue.customElement();
     </script> -->

</body>

</html>